* {
  font-family: "Space Mono", monospace;
}

.content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  position: relative;
}

#appname {
  position: relative;
  text-align: center;
  margin-top: 8%;
  /* transform: translate(-50%, -50%); */
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  letter-spacing: 5px;
  font-size: medium;
}

.wrapper {
  position: relative;
  color: black;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  width: 700px;
  margin-top: 2%;
  margin-bottom: 4%;
  border-radius: 15px;
}

.section2 {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
}

.section2-main {
  display: flex;
  flex-direction: column;
}

.text-label {
  font-size: 11px;
  color: hsl(189, 41%, 97%);
  font-weight: 700;
  padding-top: 10px;
}

.money-label {
  float: right;
  font-size: 35px;
  color: hsl(172, 67%, 45%);
}
.money-symbol {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

#reset-button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

.dollar-icon {
  position: absolute;
  margin-left: 4px;
  margin-top: 5px;
  z-index: 1;
}

#bill {
  text-align: end;
  padding-left: 25px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.label-text {
  font-size: small;
  font-weight: 700;
  color: hsl(180, 3%, 48%);
}

#select-tip {
  font-size: small;
  font-weight: 700;
  color: hsl(180, 3%, 48%);
}

input[type="radio"] {
  visibility: hidden;
  text-align: center;
}

#custom {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  text-align: end;
  width: 28%;
  height: 38px;
  border: 0px;
  background-color: hsl(189, 41%, 97%);
}

.people-section,
.bill-section {
  position: relative;
}

.people-section i,
.bill-section i {
  position: absolute;
  left: 10px;
  top: 36px;
  color: hsl(180, 3%, 48%);
  font-size: 10px;
}

.people-input,
.bill-input {
  text-align: end;
  width: 100%;
  height: 34px;
  font-size: medium;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  border: 0px;
  background-color: hsl(189, 41%, 97%);
}

.people-input:focus {
  border: none;
}
.tip-button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  text-align: left;
  width: 30%;
  border-radius: 5px;
  font-weight: 700;
}
.tip-button:not(.active-btn):hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  transition-timing-function: ease;
  transition-duration: 1ms;
}

.tip-button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.active-btn {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0px;
    width: 100%;
  }
  #appname {
    margin-bottom: 15%;
  }
}
